@{
    ViewData["Title"] = "Home Page";
}

<body>

    <div class="cover-photo">
        <div class="overlay"></div>
        <div class="cover-text">
            <h2>Donate Blood, Save Lives</h2>
            <p>Your contribution can make a difference in someone's life.</p>
            <a href="contact.html" class="btn">Contact Us</a>
        </div>
    </div>
    <br>

    <section id="aboutUs">
        <div class="containerrr">
            <div class="image-container">
                <img src="photos/about.png" alt="Square Image">
            </div>

            <div class="about-us">
                <h2>About Us</h2>
                <p>Welcome to our Blood Bank, where every drop you donate becomes a lifeline for those in need.</p>
                <p>"Join us in the mission to save lives - our Blood Bank connects compassionate donors with patients in critical need of blood."</p>
                <p>In the spirit of compassion and community, our Blood Bank unites donors and patients, creating a circle of support that saves lives every day.</p>
            </div>
        </div>
        <br>
    </section>

    <section id="learn">
        <h1 class="title">Learn about blood donation</h1>
        <div class="square-container">
            <div class="square">
                Who can donate?<br><br>Usually, blood donors need to be between 18 and 65 years old. Some places may allow 16- or 17-year-olds to donate with parental consent.
                <br>Donors typically need to weigh at least 110 pounds (50 kg).<br>
                Donors should be in good health with no major illnesses or infections. Certain chronic conditions or recent surgeries might disqualify a person from donating temporarily.<br>
                There's usually a minimum hemoglobin level requirement to ensure that the donor can safely give blood.
            </div>
            <div class="square">
                How often can someone donate?<br><br>Whole Blood Donation:Typically, individuals can donate whole blood every 8 weeks (56 days).<br>
                Power Red Donation (Double Red Cell Donation):This type of donation allows you to donate two units of red blood cells in one session. The waiting period is longer, usually every 16 weeks (112 days).<br>
                Platelet Donation: Platelet donations can be done more frequently, often every 7 days, but there may be an annual limit due to potential impact on platelet count.
            </div>
            <div class="square">
                what are the benifits of donation?<br><br>Saves Lives: Donating blood directly contributes to saving lives during medical treatments, surgeries, and emergencies.<br>
                Cardiovascular Health: Regular donation can improve cardiovascular health by maintaining healthy blood flow.<br>
                Free Health Check: Donors undergo health screenings, offering a free check for blood pressure, pulse, and hemoglobin levels.<br>
                Community Contribution: A simple way to contribute to the well-being of the community and promote social responsibility.
            </div>
        </div>
        <div class="square"><img src="photos/blood table.jpg" class="cell-table"> </div>
        <br>
    </section>

    <section id="process">
        <h1 class="title">Blood Donation Process</h1>
        <div class="circle-container">
            <div class="circle">1) Registration:<br>Fill out a brief registration form providing your basic details.</div>
            <div class="circle">2) Searching:<br>If you are a patient or a hospital, you can search for donors by blood type and location.</div>
            <div class="circle">3) Requests:<br> If you are a patient or a hospital, you can send a request for donors and if you are a donor you can view requests that have been sent to you</div>
            <div class="circle">4) Notifications:<br>A notification is sent to donor's phone if patient or hospital sent him a request and A notification is sent to patient's phone or hospital's phone if donor accepted the request .</div>
        </div>
        <br>
    </section>

    <footer>
        <div class="footer-content">
            <div class="donate-section">
                <h2>Donate Blood, Save Lives</h2>
                <p>Your contribution can make a difference in someone's life. Be a hero today!</p>
            </div>
            <div class="quick-links">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#aboutUs">About Us</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="#process">Blood Process</a></li>
                    <li><a href="follow-up-form.html">Follow-up </a></li>
                </ul>
            </div>

            <div class="contact-info">
                <h2>Contact Information</h2>
                <p><i class="fas fa-phone"></i> +123 456 7890</p>
                <p><i class="far fa-envelope"></i> info@bloodbank.com</p>
            </div>

            <div class="donate-section">
                <h2>Connect With Us:</h2>
                <p>Follow us on social media for updates, events, and more!</p>
                <div class="social-icons">
                    <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                    <a href="#" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>


        <div class="footer-bottom">
            <p>&copy; 2024 Blood Bank. All rights reserved.</p>
        </div>
    </footer>

    <script src="../wwwroot/web.js"></script>
</body>